<h1>番組一覧</h1>
<% @programs.each do |program| %>
  <div class="program">
    <h2><%= program.name %></h2>
      <p>
        <strong>パーソナリティ名:</strong>
        <%= program.host_name %>
      </p>
      <p>
        <strong>放送日時:</strong>
        <%= program.broadcast_day %>
      </p>
      <p>
        <strong>放送開始時刻:</strong>
        <%= program.start_time %>
      </p>
      <p>
        <strong>放送終了時刻:</strong>
        <%= program.end_time %>
      </p>
  </div>
<% end %>

<%= paginate @programs, theme: 'bootstrap-5' %>