<div class="card bg-white shadow-lg rounded-lg overflow-hidden p-8">
  <div class="card-body">
    <div class="card-title text-2xl font-bold mb-8 text-center">
      <%= @program.title %>
    </div>
    <div class="text-gray-600 mb-4 text-center">
      <%= link_to "パーソナリティ : #{@program.host_name}", host_path(@program.host_id), class: "text-blue-500 hover:underline" %>
    </div>
    <div class="text-gray-600 mb-4 text-center">
      <%= "放送局 : #{@program.channel}" %>
    </div>
    <div class="text-gray-600 mb-8 text-center">
      <%= "放送日時 : #{@program.day_of_week} #{@program.start_time.strftime("%H:%M")} 〜 #{@program.end_time.strftime("%H:%M")}" %>
    </div>
    <div class="mb-2 text-center">
      <%= link_to '編集', edit_program_path(@program), class: 'btn text-white', style: 'background-color: #34c759; border-color: #34c759;' %>
      <%= link_to '削除', program_path(@program), class: 'btn text-white', style: 'background-color: #ff3b31; border-color: #ff3b31;', data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
    </div>
  </div>
</div>
