<p>
  <strong>番組名:</strong>
  <%= @program.name %>
</p>
<p>
  <strong>パーソナリティ名:</strong>
  <%= @program.host_name %>
</p>
<p>
  <strong>放送日時:</strong>
  <%= @program.broadcast_day %>
</p>
<p>
  <strong>放送開始時刻:</strong>
  <%= @program.start_time %>
</p>
<p>
  <strong>放送終了時刻:</strong>
  <%= @program.end_time %>
</p>
<%= link_to '編集', edit_program_path(@program) %>
<%= link_to '戻る', root_path %>