<%= form_with model: @post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field mb-4'>
    <%= f.label "番組名", class: "form-label" %>
    <%= f.text_field :title, class: "input input-bordered w-full max-w-xl" %>
  </div>
  <div class='field mb-4'>
    <%= f.label "放送日時", class: "form-label" %>
    <%= f.date_field :broadcast_date, class: "input input-bordered w-full max-w-xl" %>
  </div>
  <div class="field mb-4">
    <%= f.label "放送内容・感想など" , class: "form-label" %>
    <%= f.text_area :content, class: "input input-bordered w-full max-w-xl", style: "height: 200px;" %>
  </div>
  <div class="field mb-4">
    <div class="flex justify-center">
    <%= f.submit "投稿", class: 'bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded' %>
    </div>
  </div>
<% end %>
