<h1>番組メモ編集</h1>
<%= form_with model: @post do |f| %>
  <div class='field'>
    <%= f.label "番組名", class: "form-label" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class='field'>
    <%= f.label "放送日時", class: "form-label" %>
    <%= f.date_select :broadcast_date, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label "放送内容・感想など" , class: "form-label" %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class='actions'>
   <%= f.submit "投稿",  class: 'btn btn-primary' %>
  </div>
<% end %>
