<h1>番組メモ一覧</h1>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="post">
      <h2>
        <%= link_to post.title, post_path(post) %>
      </h2>
      <p>
        <strong>放送日時:</strong>
        <%= post.broadcast_date.strftime("%Y-%m-%d") %>
      </p>
      <p>
        <strong>放送内容・感想など</strong>
        <%= post.content %>
      </p>
    </div>
  <% end %>
<% else %>
  <p><%= "番組メモはありません" %></p>
  <%= link_to '番組メモ作成', new_post_path %>
<% end %>
