<h1>
  <%= @post.title %>
</h1>
<p>
  <strong>放送日時:</strong>
  <%= @post.broadcast_date.strftime("%Y-%m-%d") %>
</p>
<p>
  <strong>放送内容・感想など</strong>
  <%= @post.content %>
</p>
<%= link_to '一覧', posts_path %>
<%= link_to '編集', edit_post_path(@post) %>
<%= link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
