<body class="w-full min-h-screen flex items-center justify-center">
  <div class="w-full max-w-xl mx-auto">
    <h2 class="text-3xl font-bold mb-6 text-center">ログイン</h2>
    <%= form_with url: login_path do |f| %>
      <div class="mb-6">
        <div class="mb-4">
          <%= f.label :name, "ユーザー名", class: "form-label" %>
          <%= f.text_field :name, class: "input input-bordered w-full max-w-xl" %>
        </div>
        <div class="mb-4">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, class: "input input-bordered w-full max-w-xl" %>
        </div>
      </div>
      <div class="flex justify-center mb-6">
        <%= f.submit 'ログイン', class: 'btn bg-orange-500 hover:bg-orange-600 text-white' %>
      </div>
      <div class="mt-4 text-center">
        <%= link_to 'ユーザー作成はこちら', new_user_path, class: "link link-primary" %>
      </div>
      <div class="mt-4 text-center">
        <%= link_to 'パスワードを忘れましたか？', "#", class: "link link-primary" %>
      </div>
    <% end %>
  </div>
</body>
